<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ViperConnString" value="Server=P3NWPLSK12SQL-v09.shr.prod.phx3.secureserver.net;uid=ViperPit;pwd=Vipers@4206;database=ViperPit"/>
    <add key="GADB" value="Application Name=GA;Server=ViperPit.db.11495128.hostedresource.com;uid=gamblersanon;pwd=S3rv!c3;database=gamblersanon"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="32768"/>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>